:root {
    --light-text: #fff;
    --dark: #000000;
    --classic: #c06c2c;

    --font-w-light: 200;
    --font-w-bold: 600;
    --font-w-extra-bold: 800;
    --font-w-std: 400;
}

html {
    font-size: 15px;
}



body {
    color: var(--dark);
    font-weight: var(--font-w-light);
    font-size: 1rem;
    line-height: 2;
    font-family: 'Raleway', sans-serif;

}

.extra-bold {
    font-weight: var(--font-w-extra-bold);
}
.bold, b, .bolder, strong {
    font-weight: var(--font-w-bold);
}

.classic {
    color: var(--classic);
}

.bg-main {
    background-image: url("./images/imagem-header-min.jpg");
    height: 40rem;
    margin-top: -6rem;
    background-position: right;
    background-size: cover;
}

.marry {
    position: absolute;
    top: 15rem;
}
.marry img {
    width: 90%;
}




span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cc5200' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    height: 2rem;
    width: 86px;
 }

span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cc5200' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    height: 2rem;
    width: 86px;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(192, 108, 44)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}





.wed-navbar {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
    z-index: 1000000000000000000000;
}

.nav-active {
    background-color: rgba(1, 1, 1, 0.5);
    box-shadow: 5px -1px 12px -5px grey;
}







/* ------------------------------------NAVBAR------------------------------*/
.logo {
    height: 1.6rem;
    padding-left: 2rem;
}
.navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 6rem;
    position: fixed;

}
.navbar-toggler.collapsed, .navbar-toggler {
    padding-top: 0.5rem;
    z-index: 1000000000000000;
}
.navbar-collapse {
    z-index: 1000;
    width: 50vw;
    position: fixed;
    right: 0;
    top: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
}

.navbar-nav {
    padding-top: 1rem;
}
.nav-link {
    color: var(--classic) !important;
    font-weight: var(--font-w-bold);
}

.navbar-collapse li:first-of-type {
    margin-top: 2rem;
}

.navbar-collapse li {
    padding-bottom: 1rem;
}

.navbar-collapse a {
    color: var(--light-text);
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 1
}

.navbar i.nav-action-icon {
    color: black;
    font-size: 2rem;
}


.navbar-toggler:focus, .navbar button {
    box-shadow: unset;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: flex-start;
    }
    .bg-main {
        height: 82rem;
    }
    .logo {
        height: 2rem;
    }
    .wedding-carousel {
        margin-top: 7rem;
    }
    .navbar-collapse {
        padding: 0;
        position: unset;
        background-color: unset;
        float: right;

    }
    .wtv {
        padding-top: 4rem;
        background-image: url('images/bottom-shot-min.jpg');
        height: 61rem !important;
        background-size: cover;
    }
    .navbar-collapse a {
        color: var(--dark);
        font-size: 1.2rem;
        line-height: 1;
    }

    .navbar-collapse ul {
        margin-top: unset;
    }

    .navbar-collapse li {
        margin-top: unset !important;
        padding-bottom: unset;
        margin-right: 1.2rem;
    }

    .date-img {
        position: absolute;
        z-index: 10;
        width: 14rem !important;
    }
    .nav-link {
        color: var(--light-text) !important;
        font-weight: var(--font-w-light);
    }
}



/* -------------------- INFO --------------------- */

.date-img {
    margin-top: -3rem;
    width: 100%;
}

.hours {
    color: var(--classic);
    font-size: 3.7rem;
    margin-bottom: 0;
}

.until-sun {
    width: 14rem !important;
}

.info-div {
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
    font-size: 0.9rem;
}

.info-div img {
    width: 2rem;
}

.lh-1 {
    line-height: 1 !important;
}

.lh-2 {
    line-height: 1.4;
}
.lh-3 {
    line-height: 2;
}



.contacts i {
    color: var(--classic);
    font-size: 1.3rem;
}

.contacts a, .info-div a {
    text-decoration: none;
    color: var(--dark);
}

.info-div a:hover {
    color: var(--classic);
   font-weight: var(--font-w-bold);
}

h1, h2 {
    color: var(--classic);
    font-weight: var(--font-w-light);
}



.map_church iframe {
    width: 100%;
}



ul {
    list-style-type: none;
}

#howtogo a {
    text-decoration: none;
    color: var(--classic);
    font-weight: var(--font-w-bold);
}
#howtogo a:hover {
    font-weight: var(--font-w-extra-bold);
}

.wtv {
    padding-top: 4rem;
    background-image: url('images/bottom-shot-min.jpg');
    height: 25rem;
    background-size: cover;
    background-position: center;
}
